@{
    ViewData["Title"] = "Register";
}
@model JollyAPI.Models.DTOS.User.AddressesDTO;

<!--hero banner-->
<div class="kalles-section page_section_heading">
    <div class="page-head tc pr oh cat_bg_img page_head_">
        <div class="parallax-inner nt_parallax_false lazyload nt_bg_lz pa t__0 l__0 r__0 b__0"
             data-bgset="https://demo-kalles-4-1.myshopify.com/cdn/shop/files/shop-banner.jpg?v=1651829187&width=1944"></div>
        <div class="container pr z_100">
            <h1 class="mb__5 cw">Tài khoản của bạn</h1>
        </div>
    </div>
</div>
<!--end hero banner-->
<!--page content-->
<div class="container cb ">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 login-form mt__60 mb__60">
            <div id="CustomerRegisterForm">
                <h2>Chỉnh sửa địa chỉ</h2>
                <form method="post" asp-action="EditAddress" asp-controller="User" class="form">
                    <input type="hidden" name="Id" value="@Model.Id">
                    <p class="form-row">
                        <label for="reg-pw">Đường <span class="required">*</span></label>
                        <input type="text" value="@Model.Street" name="Street" id="reg-pw" aria-required="true"></input>
                    </p>
                    <p class="form-row">
                        <label for="reg-pw">Phường/Xã <span class="required">*</span></label>
                        <input disabled type="text" value="@Model.Ward" name="Ward" id="reg-pw" aria-required="true"></input>
                    </p>
                    <p class="form-row">
                        <label for="reg-pw">Quận/Huyện <span class="required">*</span></label>
                        <input disabled type="text" value="@Model.District" name="District" id="reg-pw" aria-required="true"></input>
                    </p>
                    <p class="form-row">
                        <label for="reg-pw">Thành Phố <span class="required">*</span></label>
                        <input disabled type="text" value="@Model.City" name="City" id="reg-pw" aria-required="true"></input>
                    </p>
                    <input type="hidden" name="UserId" value="@Model.UserId">
                    <input type="submit" value="Lưu" class="btn js_add_ld">
                </form>
            </div>
        </div>
        <div class="col-3"></div>

    </div>
</div>