@using JollyCustomerClient.Helper
@using JollyCustomerClient.Helper
@using JollyAPI.Models.Entity;
@model JollyAPI.Models.Entity.Product;

@{
    List<Product> products = ViewBag.random1;
    List<Product> products2 = ViewBag.random2;
    var userId = Context.Session.GetInt32("userId");
    var isAuthenticated = userId.HasValue && userId.Value > 0;
}

<link rel="stylesheet" href="/assets/css/single-masonry-theme.css">
<link rel="stylesheet" href="/assets/css/single-product.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<div class="sp-single sp-single-1 des_pr_layout_1 mb__60">

    <!-- breadcrumb -->
    <div class="bgbl pt__20 pb__20 lh__1">
        <div class="container">
            <div class="row al_center">
                <div class="col">
                    <nav class="sp-breadcrumb">
                        <a href="/home">Trang chủ</a><i class="facl facl-angle-right"></i>@Model.Name
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb -->
    <form id="form-addtocart">
        <div id="user-info" data-userid="@userId"></div>

        <div class="container container_cat cat_default">
            <div class="row product mt__40">
                <div class="col-md-12 col-12 thumb_left">
                    <div class="row mb__50 pr_sticky_content">
                        <input type="text" value="@Model.Id" id="productid" name="productId" hidden />
                        <input type="text" value="@Model.Price" id="price" name="price" hidden />
                        <!-- product thumbnails -->
                        <div class="col-md-6 col-12 pr product-images img_action_zoom pr_sticky_img kalles_product_thumnb_slide">
                            <div class="row theiaStickySidebar">
                                <div class="col-12 col-lg col_thumb">
                                    <div class="p-thumb p-thumb_ppr images sp-pr-gallery equal_nt nt_contain ratio_imgtrue position_8 nt_slider pr_carousel"
                                         data-flickity='{"initialIndex": ".media_id_001","fade":true,"draggable":">1","cellAlign": "center","wrapAround": true,"autoPlay": false,"prevNextButtons":true,"adaptiveHeight": true,"imagesLoaded": false, "lazyLoad": 0,"dragThreshold" : 6,"pageDots": false,"rightToLeft": false }'>
                                        @if(Model.Images != null && Model.Images.Count > 0)
                                        {
                                            @foreach (var image in Model.Images){
                                            <div class="img_ptw p_ptw p-item sp-pr-gallery__img w__100 nt_bg_lz lazyload padding-top__127_66 media_id_001"
                                             data-mdid="001" data-height="1440" data-width="1128"
                                             data-ratio="0.7833333333333333" data-mdtype="image"
                                             data-src="@image.Url"
                                             data-bgset="@image.Url"
                                             data-cap="Blush Beanie - color pink , size S"></div>
                                            <input type="text" id="image" value="@Model.Images.FirstOrDefault()?.Url" hidden />
                                            }
                                        }
                                        else
                                        {
                                            <div class="img_ptw p_ptw p-item sp-pr-gallery__img w__100 nt_bg_lz lazyload padding-top__127_66 media_id_001"
                                                 data-mdid="001" data-height="1440" data-width="1128"
                                                 data-ratio="0.7833333333333333" data-mdtype="image"
                                                 data-src="./assets/images/products/pr-01.jpg"
                                                 data-bgset="./assets/images/products/pr-01.jpg"
                                                 data-cap="Blush Beanie - color pink , size S"></div>
                                            <input type="text" id="image" value="./assets/images/products/pr-01.jpg" hidden />
                                        }
                                    </div>
                                    <div class="p_group_btns pa flex">
                                        <button class="br__40 tc flex al_center fl_center show_btn_pr_gallery ttip_nt tooltip_top_left">
                                            <i class="las la-expand-arrows-alt"></i><span class="tt_txt">
                                                Click
                                                to enlarge
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-auto col_nav nav_medium t4_show">
                                    <div class="p-nav ratio_imgtrue row equal_nt nt_cover position_8 nt_slider pr_carousel"
                                         data-flickityjs='{"initialIndex": ".media_id_001","cellSelector": ".n-item:not(.is_varhide)","cellAlign": "left","asNavFor": ".p-thumb","wrapAround": true,"draggable": ">1","autoPlay": 0,"prevNextButtons": 0,"percentPosition": 1,"imagesLoaded": 0,"pageDots": 0,"groupCells": 3,"rightToLeft": false,"contain":  1,"freeScroll": 0}'>
                                    </div>
                                    <button type="button" aria-label="Previous" class="btn_pnav_prev pe_none">
                                        <i class="las la-angle-up"></i>
                                    </button>
                                    <button type="button" aria-label="Next" class="btn_pnav_next pe_none">
                                        <i class="las la-angle-down"></i>
                                    </button>
                                </div>
                                <div class="dt_img_zoom pa t__0 r__0 dib"></div>
                            </div>
                        </div>
                        <!-- end product thumbnails -->
                        <!-- product detail -->
                        <div class="col-md-6 col-12 product-infors pr_sticky_su">
                            <div class="theiaStickySidebar">
                                <div class="kalles-section-pr_summary kalles-section summary entry-summary mt__30">
                                    <h1 class="product_title entry-title fs__16">@Model.Name</h1>
                                    <input type="text" name="Name" id="name" value="@Model.Name" hidden />
                                    <div class="flex wrap fl_between al_center price-review">
                                        <p class="price_range" id="price_ppr">@FormatString.FormatVND(Model.Price)<span>đ</span></p>
                                        <a href="#tab_reviews_product" class="rating_sp_kl dib">
                                            <div class="kalles-rating-result">
                                                <span class="kalles-rating-result__pipe">
                                                    @if (ViewBag.average != null)
                                                    {
                                                        @Html.Raw(StarRating.GetStarRatingHtml((double)ViewBag.average))

                                                    }
                                                    else
                                                    {
                                                        <p></p>
                                                    }
                                                </span>
                                                <span class="kalles-rating-result__number">(@ViewBag.reviews đánh giá)</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="pr_short_des">
                                        <p class="mg__0">
                                            @Model.Description
                                        </p>
                                    </div>
                                    <div class="btn-atc atc-slide btn_des_1 btn_txt_3">
                                        <div id="callBackVariant_ppr">
                                            <div class="variations mb__40 style__circle size_medium style_color des_color_1">
                                                <div class="swatch is-color kalles_swatch_js">
                                                    <h4 class="swatch__title">
                                                        Màu sắc:
                                                        @*<span class="nt_name_current user_choose_js">Pink</span>*@
                                                    </h4>
                                                    <ul class="swatches-select swatch__list_pr d-flex">
                                                        @foreach (var color in ViewBag.colors)
                                                        {
                                                            <li class="ttip_nt tooltip_top_right nt-swatch swatch_pr_item is-selected" data-escape="@color.Name">
                                                                <span class="tt_txt">@color.Name</span>
                                                                <input type="text" value="@color.Name" id="color" name="color" hidden>
                                                                <span style="background-color: @color.Hex" class="swatch__value_pr pr lazyload"></span>
                                                            </li>
                                                        }

                                                    </ul>
                                                </div>
                                                <div class="swatch is-label kalles_swatch_js">
                                                    <h4 class="swatch__title">
                                                        Kích thước:
                                                        @*<span class="nt_name_current user_choose_js">M</span>*@
                                                    </h4>
                                                    <ul class="swatches-select swatch__list_pr d-flex">
                                                        @if (Model.Sizes != null && Model.Sizes.Any())
                                                        {
                                                            @for (var i = 0; i < Model.Sizes.Count(); i++)
                                                            {
                                                                @if (i == 0)
                                                                {
                                                                    <li class="nt-swatch swatch_pr_item pr is-selected" data-escape="S">
                                                                        <span class="swatch__value_pr">@Model.Sizes.ToList()[i].Name</span>
                                                                        <input value="@Model.Sizes.ToList()[i].Name" id="size_@i" name="size" type="text" hidden>
                                                                    </li>
                                                                }
                                                                else
                                                                {
                                                                    <li class="nt-swatch swatch_pr_item pr" data-escape="S">
                                                                        <span class="swatch__value_pr">@Model.Sizes.ToList()[i].Name</span>
                                                                        <input value="@Model.Sizes.ToList()[i].Name" id="size_@i" name="size" type="text" hidden>
                                                                    </li>
                                                                }
                                                            }
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="nt_cart_form variations_form variations_form_ppr">
                                                <div class="variations_button in_flex column w__100 buy_qv_false">
                                                    <div class="flex wrap">
                                                        <div class="quantity pr mr__10 order-1 qty__true d-inline-block" id="sp_qty_ppr">
                                                            <input type="number" class="input-text qty text tc qty_pr_js qty_cart_js" name="quantity" value="1" id="quantity">
                                                            <div class="qty tc fs__14">
                                                                <button type="button" class="plus db cb pa pd__0 pr__15 tr r__0">
                                                                    <i class="facl facl-plus"></i>
                                                                </button>
                                                                <button type="button" class="minus db cb pa pd__0 pl__15 tl l__0">
                                                                    <i class="facl facl-minus"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        @if (ViewBag.InWishlist != null && ViewBag.InWishlist)
                                                        {
                                                            <div onclick="ModifyItem(@Model.Id)" class="nt_add_w ts__03 pa order-3 wis_added">
                                                                <a href="#"
                                                               class="wishlistadd cb chp ttip_nt tooltip_top_left">
                                                                    <span class="tt_txt">Xóa khỏi danh sách ưa thích</span><i class="facl facl-heart-o"></i>
                                                                </a>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div onclick="ModifyItem(@Model.Id)" class="nt_add_w ts__03 pa order-3">
                                                                <a href="#"
                                                               class="wishlistadd cb chp ttip_nt tooltip_top_left">
                                                                    <span class="tt_txt">Thêm vào danh sách ưa thích</span><i class="facl facl-heart-o"></i>
                                                                </a>
                                                            </div>

                                                        }

                                                        <button id="btn-submit" type="button" data-time="6000" data-ani="shake"
                                                                class="single_add_to_cart_button button truncate w__100 mt__20 order-4 d-inline-block animated"
                                                                onclick="addToCart()">
                                                            <span class="txt_add">Thêm vào giỏ hàng</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="trust_seal_ppr" class="pr_trust_seal tl_md tc">
                                        <img class="img_tr_s1 lazyload w__100 max-width__330px"
                                             src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%202244%20285%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E"
                                             alt="" data-srcset="/assets/images/single-product/trust_img2.png" />
                                    </div>
                                    <div class="extra-link mt__35 fwsb">
                                        <a class="ajax_pp_js cd chp mr__20" href="#"
                                           data-id="#popup-size-guide">Bảng kích thước</a>
                                        <a class="ajax_pp_js cd chp mr__20" href="#"
                                           data-id="#popup-delivery-and-return">Giao hàng &amp; Đổi trả</a>
                                        <a class="ajax_pp_js cd chp" href="#"
                                           data-id="#popup-ask-a-question">Đặt câu hỏi</a>
                                    </div>
                                    <div class="product_meta">
                                        <span class="posted_in">
                                            <span class="cb">Thể loại:</span>
                                            @if (Model.Category != null)
                                            {
                                                <a href="shop-filter-options.html" class="cg">@Model.Category?.Name &nbsp; &nbsp;</a>
                                            }
                                            else
                                            {
                                                <span>N/A</span>
                                            }
                                        </span>
                                    </div>
                                    <div class="social-share tc">
                                        <div class="at-share-btn-elements kalles-social-media d-block text-left fs__0 lh__1">
                                            <a href="https://www.facebook.com/"
                                               class="at-icon-wrapper at-share-btn at-svc-facebook bg-white kalles-social-media__btn">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                                                     class="at-icon at-icon-facebook">
                                                    <g>
                                                        <path d="M22 5.16c-.406-.054-1.806-.16-3.43-.16-3.4 0-5.733 1.825-5.733 5.17v2.882H9v3.913h3.837V27h4.604V16.965h3.823l.587-3.913h-4.41v-2.5c0-1.123.347-1.903 2.198-1.903H22V5.16z"
                                                              fill-rule="evenodd"></path>
                                                    </g>
                                                </svg>
                                            </a>
                                            <a href="https://twitter.com/"
                                               class="at-icon-wrapper at-share-btn at-svc-twitter bg-white kalles-social-media__btn">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                                                     class="at-icon at-icon-twitter">
                                                    <g>
                                                        <path d="M27.996 10.116c-.81.36-1.68.602-2.592.71a4.526 4.526 0 0 0 1.984-2.496 9.037 9.037 0 0 1-2.866 1.095 4.513 4.513 0 0 0-7.69 4.116 12.81 12.81 0 0 1-9.3-4.715 4.49 4.49 0 0 0-.612 2.27 4.51 4.51 0 0 0 2.008 3.755 4.495 4.495 0 0 1-2.044-.564v.057a4.515 4.515 0 0 0 3.62 4.425 4.52 4.52 0 0 1-2.04.077 4.517 4.517 0 0 0 4.217 3.134 9.055 9.055 0 0 1-5.604 1.93A9.18 9.18 0 0 1 6 23.85a12.773 12.773 0 0 0 6.918 2.027c8.3 0 12.84-6.876 12.84-12.84 0-.195-.005-.39-.014-.583a9.172 9.172 0 0 0 2.252-2.336"
                                                              fill-rule="evenodd"></path>
                                                    </g>
                                                </svg>
                                            </a>
                                            <a href="https://www.google.com/gmail/about"
                                               class="at-icon-wrapper at-share-btn at-svc-email bg-white">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                                                     class="at-icon at-icon-email kalles-social-media__btn">
                                                    <g>
                                                        <g fill-rule="evenodd"></g>
                                                        <path d="M27 22.757c0 1.24-.988 2.243-2.19 2.243H7.19C5.98 25 5 23.994 5 22.757V13.67c0-.556.39-.773.855-.496l8.78 5.238c.782.467 1.95.467 2.73 0l8.78-5.238c.472-.28.855-.063.855.495v9.087z">
                                                        </path>
                                                        <path d="M27 9.243C27 8.006 26.02 7 24.81 7H7.19C5.988 7 5 8.004 5 9.243v.465c0 .554.385 1.232.857 1.514l9.61 5.733c.267.16.8.16 1.067 0l9.61-5.733c.473-.283.856-.96.856-1.514v-.465z">
                                                        </path>
                                                    </g>
                                                </svg>
                                            </a>
                                            <a href="https://www.pinterest.com/"
                                               class="at-icon-wrapper at-share-btn at-svc-pinterest_share bg-white kalles-social-media__btn">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                                                     class="at-icon at-icon-pinterest_share">
                                                    <g>
                                                        <path d="M7 13.252c0 1.81.772 4.45 2.895 5.045.074.014.178.04.252.04.49 0 .772-1.27.772-1.63 0-.428-1.174-1.34-1.174-3.123 0-3.705 3.028-6.33 6.947-6.33 3.37 0 5.863 1.782 5.863 5.058 0 2.446-1.054 7.035-4.468 7.035-1.232 0-2.286-.83-2.286-2.018 0-1.742 1.307-3.43 1.307-5.225 0-1.092-.67-1.977-1.916-1.977-1.692 0-2.732 1.77-2.732 3.165 0 .774.104 1.63.476 2.336-.683 2.736-2.08 6.814-2.08 9.633 0 .87.135 1.728.224 2.6l.134.137.207-.07c2.494-3.178 2.405-3.8 3.533-7.96.61 1.077 2.182 1.658 3.43 1.658 5.254 0 7.614-4.77 7.614-9.067C26 7.987 21.755 5 17.094 5 12.017 5 7 8.15 7 13.252z"
                                                              fill-rule="evenodd"></path>
                                                    </g>
                                                </svg>
                                            </a>
                                            <a href="https://www.messenger.com"
                                               class="at-icon-wrapper at-share-btn at-svc-messenger bg-white kalles-social-media__btn">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                                                     class="at-icon at-icon-messenger">
                                                    <g>
                                                        <path d="M16 6C9.925 6 5 10.56 5 16.185c0 3.205 1.6 6.065 4.1 7.932V28l3.745-2.056c1 .277 2.058.426 3.155.426 6.075 0 11-4.56 11-10.185C27 10.56 22.075 6 16 6zm1.093 13.716l-2.8-2.988-5.467 2.988 6.013-6.383 2.868 2.988 5.398-2.987-6.013 6.383z"
                                                              fill-rule="evenodd"></path>
                                                    </g>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="dt_img_zoom pa t__0 r__0 dib"></div>
                            </div>
                        </div>
                        <!-- end product detail -->

                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- description and review -->
    <div id="wrap_des_pr">
        <div class="container container_des">
            <div class="kalles-section-pr_description kalles-section kalles-tabs nt_section">

                <!-- tab buttons -->
                <ul class="ul_none ul_tabs is-flex fl_center fs__16 des_mb_2 des_style_1">

                    <li class="tab_title_block active mt-4">
                        <a class="db cg truncate pr" href="#tab_reviews_product">Đánh giá</a>
                    </li>
                </ul>
                <!-- end tab buttons -->
                <!-- tab contents -->



                <div class="panel entry-content des_mb_2 des_style_1 dn active" id="tab_reviews_product" style="display: block;">
                    <div class="js_ck_view"></div>
                    <div class="heading bgbl dn">
                        <a class="tab-heading flex al_center fl_between pr cd chp fwm"
                           href="#tab_reviews_product">
                            <span class="txt_h_tab">Đánh giá</span><span class="nav_link_icon ml__5"></span>
                        </a>
                    </div>
                    <div class="sp-tab-content">
                        <div class="lt-block-reviews">
                            <div class="r--desktop r--tablet w__100">
                                <div id="r--masonry-theme" class="r--show-part-preview">
                                    <div class="r--masonry-theme">
                                        <div class="header-v1 masonry-header">
                                            <div class="r--header">
                                                <div class="r--overview d-flex justify-content-center flex-column align-items-center p-0">
                                                    <div class="r--overview-left">
                                                        <div class="r--star-block r--star-850">
                                                            <span class="r--title-average">Trung bình</span>
                                                            <span class="r--stars_average">@ViewBag.average?.ToString("N1")</span>
                                                            <div class="r--stars cpl">
                                                                <div class="kalles-rating-result">
                                                                    <span class="kalles-rating-result__pipe">
                                                                        @if (ViewBag.average != null)
                                                                        {
                                                                            @Html.Raw(StarRating.GetStarRatingHtml((double)ViewBag.average))

                                                                        } else {
                                                                            <p>Chưa có đánh giá nào</p>
                                                                        }
                                                                    </span>
                                                                </div>
                                                                <span class="r--total-view">
                                                                    @ViewBag.reviews
                                                                    <span>Đánh giá</span>
                                                                </span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="r--overview-right mt-4">
                                                        <div class="show-modal-mobile">
                                                            @if (isAuthenticated)
                                                            {
                                                                <a class="r--button r--flex-center bg-yellow text-white ajax_pp_js"
                                                               href="#" data-id="#popup-leave-review">
                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                     width="18.37" height="17.8"
                                                                     viewBox="0 0 21.682 21.602">
                                                                        <g id="Symbol_32_2"
                                                                       data-name="Symbol 32 – 2"
                                                                       transform="translate(-961.98 -374.155)">
                                                                            <path d="M0,0H4V11.2L1.937,14h0L0,11.2Z"
                                                                              transform="translate(979.891 381.756) rotate(40)"
                                                                              fill="none" stroke="#ffffff"
                                                                              stroke-linejoin="round"
                                                                              stroke-width="1"></path>
                                                                            <path d="M0,0H4"
                                                                              transform="translate(972.692 390.335) rotate(40)"
                                                                              fill="none" stroke="#ffffff"
                                                                              stroke-width="1"></path>
                                                                            <g transform="translate(981.126 380.964) rotate(40)"
                                                                           fill="none" stroke="#ffffff"
                                                                           stroke-width="1">
                                                                                <rect width="3.128" height="1.4"
                                                                                  stroke="none"></rect>
                                                                                <rect x="0.5" y="0.5"
                                                                                  width="2.128" height="0.4"
                                                                                  fill="none"></rect>
                                                                            </g>
                                                                            <path d="M2858.324,3384.6h7.412"
                                                                              transform="translate(-1891.1 -3003.987)"
                                                                              fill="none" stroke="#ffffff"
                                                                              stroke-linecap="round"
                                                                              stroke-linejoin="round"
                                                                              stroke-width="1"></path>
                                                                            <path d="M2858.324,3384.6h7.412"
                                                                              transform="translate(-1891.1 -2999.611)"
                                                                              fill="none" stroke="#ffffff"
                                                                              stroke-linecap="round"
                                                                              stroke-width="1"></path>
                                                                            <path d="M8.952,0H15a2,2,0,0,1,2,2V15a2,2,0,0,1-2,2H2a2,2,0,0,1-2-2V12.162"
                                                                              transform="translate(979.48 391.655) rotate(180)"
                                                                              fill="none" stroke="#ffffff"
                                                                              stroke-linecap="round"
                                                                              stroke-linejoin="round"
                                                                              stroke-width="1"></path>
                                                                        </g>
                                                                    </svg>
                                                                    <span class="r--text-write">
                                                                        Viết đánh giá
                                                                    </span>
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <a class="r--button r--flex-center bg-yellow text-white ajax_pp_js"
                                                               href="#" data-id="" onclick="notifyReview()">
                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                     width="18.37" height="17.8"
                                                                     viewBox="0 0 21.682 21.602">
                                                                        <g id="Symbol_32_2"
                                                                       data-name="Symbol 32 – 2"
                                                                       transform="translate(-961.98 -374.155)">
                                                                            <path d="M0,0H4V11.2L1.937,14h0L0,11.2Z"
                                                                              transform="translate(979.891 381.756) rotate(40)"
                                                                              fill="none" stroke="#ffffff"
                                                                              stroke-linejoin="round"
                                                                              stroke-width="1"></path>
                                                                            <path d="M0,0H4"
                                                                              transform="translate(972.692 390.335) rotate(40)"
                                                                              fill="none" stroke="#ffffff"
                                                                              stroke-width="1"></path>
                                                                            <g transform="translate(981.126 380.964) rotate(40)"
                                                                           fill="none" stroke="#ffffff"
                                                                           stroke-width="1">
                                                                                <rect width="3.128" height="1.4"
                                                                                  stroke="none"></rect>
                                                                                <rect x="0.5" y="0.5"
                                                                                  width="2.128" height="0.4"
                                                                                  fill="none"></rect>
                                                                            </g>
                                                                            <path d="M2858.324,3384.6h7.412"
                                                                              transform="translate(-1891.1 -3003.987)"
                                                                              fill="none" stroke="#ffffff"
                                                                              stroke-linecap="round"
                                                                              stroke-linejoin="round"
                                                                              stroke-width="1"></path>
                                                                            <path d="M2858.324,3384.6h7.412"
                                                                              transform="translate(-1891.1 -2999.611)"
                                                                              fill="none" stroke="#ffffff"
                                                                              stroke-linecap="round"
                                                                              stroke-width="1"></path>
                                                                            <path d="M8.952,0H15a2,2,0,0,1,2,2V15a2,2,0,0,1-2,2H2a2,2,0,0,1-2-2V12.162"
                                                                              transform="translate(979.48 391.655) rotate(180)"
                                                                              fill="none" stroke="#ffffff"
                                                                              stroke-linecap="round"
                                                                              stroke-linejoin="round"
                                                                              stroke-width="1"></path>
                                                                        </g>
                                                                    </svg>
                                                                    <span class="r--text-write">
                                                                        Viết đánh giá
                                                                    </span>
                                                                </a>


                                                            }

                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="r--filter-review">
                                                    <div class="r--filter-wrapper">
                                                        <div class="r--sortBy">
                                                            <div class="r--unset-select r--sort-button r--filter-link r--flex-center el-popover__reference">
                                                                <span class="r--select">
                                                                    Xếp theo: Mới nhất
                                                                </span>
                                                                <img src="/assets/images/single-product/icon-down.svg"
                                                                     width="8" height="4"
                                                                     class="r--select r--icon-down" alt="">
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="r--showing r--f-left">
                                                        <span class="r--text-showing">
                                                            Xem 1 - 6 trên @ViewBag.reviews
                                                            đánh giá
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="r--grid">
                                            @if (ViewBag.ratings != null)
                                            {
                                                @foreach (var item in ViewBag.ratings)
                                                {
                                                    <div class="r--grid-item">
                                                        <div class="r--author r--text-limit">
                                                            <div class="r--avatar-default text-center text-white">
                                                                U
                                                            </div>
                                                            <span class="r--author-review">@item.User.FullName</span>
                                                        </div>
                                                        <div class="r--item-body">
                                                            <div class="r--item-body-top">
                                                                <div class="r--stars-author r--star-head r--body-item r--flex-center">
                                                                    <div class="kalles-rating-result">
                                                                        <span class="kalles-rating-result__pipe">
                                                                            @Html.Raw(UserRating.GetStarRatingHtml(item.Quantity))

                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <p class="r--content-review r--body-item">
                                                                @item.Content
                                                            </p>
                                                            @{
                                                                DateTime postDate = item.Date;

                                                                TimeSpan timeSincePosted = DateTime.UtcNow - postDate;

                                                                int daysAgo = (int)timeSincePosted.TotalDays;

                                                                string displayText = daysAgo == 1 ? "1 ngày trước" : $"{daysAgo} ngày trước";
                                                            }
                                                            <time datetime="@postDate.ToString("yyyy-MM-ddTHH:mm:ssZ")"
                                                          class="r--date-review r--top r--text-limit">
                                                                @displayText
                                                            </time>

                                                        </div>
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                <p>Chưa có đánh giá nào cho sản phẩm này!.</p>
                                            }



                                        </div>

                                        @*<div class="r--load-more">
                                        <a href="#" class="r--text-load-more">Load more</a>
                                        </div>*@
                                        <div class="d-flex justify-content-center">
                                            <nav aria-label="Page navigation text-center">
                                                <ul class="pagination">
                                                    @if (ViewBag.PageNumber > 1)
                                                    {
                                                        <li class="page-item">
                                                            <a asp-action="Detail" asp-route-id="@Model.Id" asp-route-page="1" class="page-link">&lt&lt</a>
                                                        </li>
                                                    }

                                                    @for (int i = 1; i <= Math.Ceiling((decimal)ViewBag.TotalRecords / ViewBag.PageSize); i++)
                                                    {
                                                        <li class="page-item @(ViewBag.PageNumber == i ? "active" : "")">
                                                            <a asp-action="Detail" asp-route-id="@Model.Id" asp-route-page="@i" class="page-link">@i</a>
                                                        </li>
                                                    }

                                                    @if (ViewBag.PageNumber < Math.Ceiling((decimal)ViewBag.TotalRecords / ViewBag.PageSize))
                                                    {
                                                        <li class="page-item">
                                                            <a asp-action="Detail" asp-route-id="@Model.Id" asp-route-page="@Math.Ceiling((decimal)ViewBag.TotalRecords / ViewBag.PageSize)" class="page-link">>></a>
                                                        </li>
                                                    }
                                                </ul>
                                            </nav>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end tab contents -->
            </div>
        </div>
    </div>
    <!-- end description and review -->

    <div class="clearfix"></div>

    <!--product recommendations section-->
    <div class="kalles-section tp_se_cdt">
        <div class="related product-extra mt__60 lazyload">
            <div class="container">
                <div class="wrap_title des_title_1">
                    <h3 class="section-title tc pr flex fl_center al_center fs__24 title_1">
                        <span class="mr__10 ml__10">Sản phẩm tương tự</span>
                    </h3>
                    <span class="dn tt_divider">
                        <span></span><i class="dn clprfalse title_1 la-gem"></i><span></span>
                    </span><span class="section-subtitle db tc sub-title"></span>
                </div>
                <div class="products nt_products_holder nt_slider row row_pr_1 cdt_des_1 round_cd_false nt_cover ratio_nt position_8 space_30 prev_next_0 btn_owl_1 dot_owl_1 dot_color_1 btn_vi_1 is-draggable"
                     data-flickity='{"imagesLoaded": 0,"adaptiveHeight": 0, "contain": 1, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": true,"prevNextButtons": false,"percentPosition": 1,"pageDots": false, "autoPlay" : 0, "pauseAutoPlayOnHover" : true, "rightToLeft": false }'>
                    @foreach (var item in products)
                    {
                        <div class="col-lg-3 pr_animated col-md-3 col-6 mt__30 pr_grid_item product nt_pr desgin__1 done">
                            <div class="product-inner pr">
                                <div class="product-image pr oh lazyload">
                                    <a class="d-block" href="/product/detail/@item.Id">
                                        <div class="pr_lazy_img main-img nt_img_ratio nt_bg_lz lazyload padding-top__127_571"
                                         data-bgset="@item.Images.ToList()[0].Url"></div>
                                    </a>
                                    <div class="hover_img pa pe_none t__0 l__0 r__0 b__0 op__0">
                                        <div class="pr_lazy_img back-img pa nt_bg_lz lazyload padding-top__127_571"
                                         data-bgset="@item.Images.ToList()[1].Url"></div>
                                    </div>
                                    <div class="nt_add_w ts__03 pa ">
                                    </div>
                                </div>
                                <div class="product-info mt__15">
                                    <h3 class="product-title pr fs__14 mg__0 fwm">
                                        <a class="cd chp" href="/product/detail/@item.Id">
                                            @item.Name
                                        </a>
                                    </h3>
                                    <span class="price dib mb__5">@FormatString.FormatVND(item.Price)<span>đ</span></span>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
    <!--end product recommendations section-->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!--review form-->
    <div id="popup-leave-review" class="d-none">
        <div class="r--write-review r--desktop mfp-with-anim review-popup__content">
            <div class="r--write-wrapper">
                <div class="r--write-top r--titles-top">
                    <div class="r--title-form">
                        <span>Đánh giá sản phẩm</span>
                    </div>
                    <div class="r--write-product">
                        <span class="r--img-wrapper">
                            @if (Model.Images.Any())
                            {
                                <img src="@Model.Images.First().Url" class="r--center-middle" alt="">
                            }
                        </span>
                        <div class="r--info-product">
                            <p class="r--text-limit">@Model.Name</p>
                            <div class="kalles-rating-result">
                                <span class="kalles-rating-result__pipe">
                                    @if (ViewBag.average != null)
                                    {
                                        @Html.Raw(StarRating.GetStarRatingHtml((double)ViewBag.average))

                                    } else {
                                        <p>Chưa có đánh giá nào</p>
                                    }

                                </span>
                                <span class="kalles-rating-result__number">@ViewBag.reviews (đánh giá)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-modal"></div>
                <form name="reviewform" id="reviewForm" class="r--form-write" method="post" asp-action="WriteReview">
                    <input type="hidden" name="id" value="@Model.Id" />

                    <div class="r--write-input r--flex-center r--rate-review">
                        <label class="r--label-quality">Chất lượng</label>
                        <div class="rate">
                            <input type="radio" id="star1" name="Quantity" value="1">
                            <label for="star1" title="1 star"></label>
                            <input type="radio" id="star2" name="Quantity" value="2">
                            <label for="star2" title="2 stars"></label>
                            <input type="radio" id="star3" name="Quantity" value="3">
                            <label for="star3" title="3 stars"></label>
                            <input type="radio" id="star4" name="Quantity" value="4">
                            <label for="star4" title="4 stars"></label>
                            <input type="radio" id="star5" name="Quantity" value="5" checked>
                            <label for="star5" title="5 stars"></label>
                        </div>
                    </div>
                    <div class="r--write-input">
                        <label for="review_customer_content">Viết đánh giá</label>
                        <div class="r--input">
                            <textarea name="Content" placeholder="Viết gì đó đê..." required="required"
                                      id="review_customer_content"></textarea>
                        </div>
                    </div>
                    <div class="r--write-submit">
                        <button type="submit" class="r--submit-form r--button">
                            <span class="text-white">Đánh giá</span>
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <!--review form-->
    <style>
        .star {
            color: gold;
            font-size: 20px;
        }

            .star svg {
                width: 14px;
                height: 14px;
            }
    </style>

