@using JollyAPI.Models.Entity;
@using JollyCustomerClient.Helper;
@{
	ViewData["Title"] = "Home Page";
	List<Blog> blogs = ViewBag.blogs;
	List<Product> products = ViewBag.products;
}
@{
	var userId = Context.Session.GetInt32("userId");
}
<!-- main slide -->
<div class="nt_section type_slideshow type_carousel ">
	<div id="user-info" data-userid="@userId"></div>
	<div class="slideshow-wrapper nt_full se_height_cus_h nt_first">
		<div class="fade_flick_1 slideshow row no-gutters equal_nt nt_slider js_carousel prev_next_0 btn_owl_1 dot_owl_2 dot_color_1 btn_vi_2"
			 data-flickity='{ "fade":0,"cellAlign": "center","imagesLoaded": 0,"lazyLoad": 0,"freeScroll": 0,"wrapAround": true,"autoPlay" : 0,"pauseAutoPlayOnHover" : true, "rightToLeft": false, "prevNextButtons": false,"pageDots": true, "contain" : 1,"adaptiveHeight" : 1,"dragThreshold" : 5,"percentPosition": 1 }'>

			<!-- first slide -->
			<div class="col-12 slideshow__slide">
				<div class="oh pr nt_img_txt bg-black--transparent">
					<div class="js_full_ht4 img_slider_block kalles-slide-element__pdb-600">
						<div class="bg_rp_norepeat bg_sz_cover lazyload item__position center center img_tran_ef pa l__0 t__0 r__0 b__0"
							 data-bgset="https://demo-kalles-4-1.myshopify.com/cdn/shop/files/slider-01.jpg?v=1652056793"></div>
					</div>
					<div class="caption-wrap caption-w-1 pe_none z_100 tl_md tl">
						<div class="pa_txts caption kalles-caption-layout-01 kalles-caption--midle-left">
							<div class="left_right">
								<h4 class="kalles-caption-layout-01__subtitle mg__0 lh__1">Đông 2023</h4>
								<h3 class="kalles-caption-layout-01__title mg__0 lh__1">Bộ sư tập mới</h3>
								<a class="kalles-caption-layout-01__button kalles-button--square slt4_btn button pe_auto round_false btn_icon_false"
								   href="/product">Khám phá ngay</a>
							</div>
						</div>
					</div>
					<a href="/product" class="pa t__0 l__0 b__0 r__0 pe_none"></a>
				</div>
			</div>
			<!-- end first slide -->
			<!-- second slide -->
			<div class="col-12 slideshow__slide">
				<div class="oh pr nt_img_txt bg-black--transparent">
					<div class="js_full_ht4 img_slider_block kalles-slide-element__pdb-600">
						<div class="bg_rp_norepeat bg_sz_cover lazyload item__position center center img_zoom pa l__0 t__0 r__0 b__0"
							 data-bgset="https://demo-kalles-4-1.myshopify.com/cdn/shop/files/slide3.jpg?v=1682405064&width=2500"></div>
					</div>
					<div class="caption-wrap caption-w-1 pe_none z_100 tr_md tl">
						<div class="pa_txts caption kalles-caption-layout-01 kalles-caption--midle-right">
							<div class="right_left">
								<h4 class="kalles-caption-layout-01__subtitle mg__0 lh__1">Mùa mới</h4>
								<h3 class="kalles-caption-layout-01__title mg__0 lh__1">
									Bộ sưu tập thu đông
								</h3>
								<a class="kalles-caption-layout-01__button kalles-button--square slt4_btn button pe_auto round_false btn_icon_false"
								   href="/product">Khám phá ngay</a>
							</div>
						</div>
					</div>
					<a href="/product" class="pa t__0 l__0 b__0 r__0 pe_none"></a>
				</div>
			</div>
			<!-- end second slide -->
			<!-- third slide -->
			<div class="col-12 slideshow__slide">
				<div class="oh pr nt_img_txt bg-black--transparent">
					<div class="js_full_ht4 img_slider_block kalles-slide-element__pdb-600">
						<div class="bg_rp_norepeat bg_sz_cover lazyload item__position center center img_tran_ef pa l__0 t__0 r__0 b__0"
							 data-bgset="https://demo-kalles-4-1.myshopify.com/cdn/shop/files/slide2.jpg?v=1682405064&width=2500"></div>
					</div>
					<div class="caption-wrap caption-w-1 pe_none z_100 tl_md tl">
						<div class="pa_txts caption kalles-caption-layout-01 kalles-caption--midle-left">
							<div class="left_right">
								<h4 class="kalles-caption-layout-01__subtitle mg__0 lh__1">Khuyến mãi</h4>
								<h3 class="kalles-caption-layout-01__title mg__0 lh__1">Lên đến 70%</h3>
								<a class="kalles-caption-layout-01__button kalles-button--square slt4_btn button pe_auto round_false btn_icon_false"
								   href="/product">Khám phá ngay</a>
							</div>
						</div>
					</div>
					<a href="/product" class="pa t__0 l__0 b__0 r__0 pe_none"></a>
				</div>
			</div>
			<!-- end third slide -->

		</div>
	</div>
</div>
<!-- end main slide -->
<!-- top category banner -->
<div class="nt_section type_collection_list">
	<div class="container">
		<div class="mt__30 nt_cats_holder row equal_nt hoverz_true cat_size_4 cat_lay4_1 cat_lay5_3 cat_space_30 cat_design_1">

			<div class="cat_grid_item cat_space_item cat_grid_item_1 col-md-6 col-12">
				<div class="cat_grid_item__content pr oh">
					<a href="/product/category?gender=men" class="d-block cat_grid_item__link">
						<div class="cat_grid_item__overlay item__position nt_bg_lz lazyload top"
							 data-bgset="https://demo-kalles-4-1.myshopify.com/cdn/shop/files/cat-02.jpg"></div>
					</a>
					<div class="cat_grid_item__wrapper pe_none">
						<div class="cat_grid_item__title">Nam</div>
					</div>
				</div>
			</div>
			<div class="cat_grid_item cat_space_item cat_grid_item_1 col-md-6 col-12">
				<div class="cat_grid_item__content pr oh">
					<a href="/product/category?gender=women" class="d-block cat_grid_item__link">
						<div class="cat_grid_item__overlay item__position nt_bg_lz lazyload top"
							 data-bgset="https://demo-kalles-4-1.myshopify.com/cdn/shop/files/1_2a9471ff-024d-40f7-a4b3-a15a058ff334_2022-03-24.jpg"></div>
					</a>
					<div class="cat_grid_item__wrapper pe_none">
						<div class="cat_grid_item__title">Nữ</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end top category banner -->
<!-- bestseller products-->
<div class="kalles-section nt_section type_featured_collection tp_se_cdt">
	<div class="kalles-otp-01__featured-collection-2 container">
		<div class="wrap_title  des_title_2">
			<h3 class="section-title tc pr flex fl_center al_center fs__24 title_2">
				<span class="mr__10 ml__10">SẢN PHẨM BÁN CHẠY</span>
			</h3>
			<span class="dn tt_divider">
				<span></span>
				<i class="dn clprfalse title_2 la-gem"></i>
				<span></span>
			</span>
			<span class="section-subtitle d-block tc sub-title">Top những sản phẩm trong tuần</span>
		</div>

		<div class="products nt_products_holder row fl_center row_pr_1 cdt_des_1 round_cd_false nt_cover ratio_nt position_8 space_30">
			@if (products != null)
			{
				@foreach (var p in products)
				{
					<div class="col-lg-3 col-md-3 col-6 pr_animated done mt__30 pr_grid_item product nt_pr desgin__1">
						<div class="product-inner pr">
							<div class="product-image pr oh">
								@if (p.Images != null && p.Images.Count > 1)
								{
									<a class="d-block" href="/product/detail/@p.Id">
										<div class="pr_lazy_img main-img nt_img_ratio nt_bg_lz lazyload padding-top__127_586"
											 data-bgset="@p.Images.ToList()[0].Url"></div>
									</a>
									<div class="hover_img pa pe_none t__0 l__0 r__0 b__0 op__0">
										<div class="pr_lazy_img back-img pa nt_bg_lz lazyload padding-top__127_586"
											 data-bgset="@p.Images.ToList()[1].Url"></div>
									</div>
								}else
								{
									<a class="d-block" href="/product/detail/@p.Id">
										<div class="pr_lazy_img main-img nt_img_ratio nt_bg_lz lazyload padding-top__127_586"
											 data-bgset="./assets/images/products/pr-01.jpg"></div>
									</a>
									<div class="hover_img pa pe_none t__0 l__0 r__0 b__0 op__0">
										<div class="pr_lazy_img back-img pa nt_bg_lz lazyload padding-top__127_586"
											 data-bgset="./assets/images/products/pr-01.jpg"></div>
									</div>
								}
								
								<div class="nt_add_w ts__03 pa ">
								</div>
							</div>
							<div class="product-info mt__15">
								<h3 class="product-title pr fs__14 mg__0 fwm">
									<a class="cd chp" href="/product/detail/@p.Id">@p.Name</a>
								</h3>
								<span class="price dib mb__5"><span>@FormatString.FormatVND(p.Price)</span>đ</span>
							</div>
						</div>
					</div>
				}
			}



		</div>
	</div>
</div>
<!-- end bestseller products-->
<!--blog post-->
<div class="kalles-section kalles-section_type_featured_blog nt_section type_featured_blog type_carousel">
	<div class="container">
		<div class="wrap_title mb__30 des_title_2">
			<h3 class="section-title tc pr flex fl_center al_center fs__24 title_2">
				<span class="mr__10 ml__10">BLOG MỚI NHẤT</span>
			</h3>
			<span class="dn tt_divider">
				<span></span><i class="dn clprfalse title_2 la-pencil-alt"></i><span></span>
			</span>
			<span class="section-subtitle d-block tc sub-title">Cập nhập kiến thức thú vị</span>
		</div>
		<div class="articles art_des1 nt_products_holder row nt_cover ratio4_3 position_8 equal_nt js_carousel nt_slider prev_next_1 btn_owl_1 dot_owl_1 dot_color_1 btn_vi_1"
			 data-flickity='{"imagesLoaded": 0,"adaptiveHeight": 1, "contain": 1, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": false,"prevNextButtons": true,"percentPosition": 1,"pageDots": false, "autoPlay" : 0, "pauseAutoPlayOnHover" : true, "rightToLeft": false }'>
			@if (blogs != null)
			{
				@foreach (var b in blogs)
				{
					<article class="post_nt_loop post_1 col-lg-4 col-md-4 col-12 pr_animated done mb__40">
						<a class="mb__15 d-block pr oh" href="/blog/detail/@b.Id">
							<div class="lazyload nt_bg_lz pr_lazy_img" data-bgset="@b.Image">
							</div>
						</a>
						<div class="post-info mb__10">
							<h4 class="mg__0 fs__16 mb__5 ls__0">
								<a class="cd chp open" href="/blog/detail/@b.Id">
									@b.Title
								</a>
							</h4>
							<span class="post-author mr__5">By <span class="cd">admin</span></span><span class="post-time">
								on <span class="cd">
									<time datetime="2020-04-06T02:22:00Z">
										@b.PublishedDate.Value.ToString("MMMM d, yyyy")
									</time>
								</span>
							</span>
						</div>
						@*<div class="post-content">
							@if (b.Content.Length > 120)
							{
								@b.Content.Substring(0, 120)
							}
							else
							{
								@b.Content
							}
						</div>*@
					</article>

				}

			}
		</div>
	</div>
</div>
<!--end blog post-->
<!--shipping info-->
<div class="kalles-section nt_section type_shipping kalles-section__type_shipping">
	<div class="container">
		<div class="row fl_wrap fl_wrap_md oah use_border_false">
			<div class="col-12 col-md-6 col-lg-3 mb__25 bl_1581530479619-0">
				<div class="nt_shipping nt_icon_deafult tl row no-gutters al_center_">
					<div class="col-auto icon medium csi">
						<i class="pegk pe-7s-car"></i>
					</div>
					<div class="col content">
						<h3 class="title cd fs__14 mg__0 mb__5">MIỄN PHÍ VẬN CHUYỂN</h3>
						<p class="mg__0">DÀNH CHO HÓA ĐƠN TRÊN 1.000.000đ</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-3 mb__25 bl_1581530479619-1">
				<div class="nt_shipping nt_icon_deafult tl row no-gutters al_center_">
					<div class="col-auto icon medium csi">
						<i class="pegk pe-7s-help2"></i>
					</div>
					<div class="col content">
						<h3 class="title cd fs__14 mg__0 mb__5">HỖ TRỢ 24/7</h3>
						<p class="mg__0">Liên hệ bất kể thời gian nào</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-3 mb__25 bl_1581530479619-2">
				<div class="nt_shipping nt_icon_deafult tl row no-gutters al_center_">
					<div class="col-auto icon medium csi">
						<i class="pegk pe-7s-refresh"></i>
					</div>
					<div class="col content">
						<h3 class="title cd fs__14 mg__0 mb__5">30 NGÀY ĐỔI TRẢ</h3>
						<p class="mg__0">Được đổi trả nếu sản phẩm không ưng ý</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-3 mb__25 bl_1581530479619-3">
				<div class="nt_shipping nt_icon_deafult tl row no-gutters al_center_">
					<div class="col-auto icon medium csi">
						<i class="pegk pe-7s-door-lock"></i>
					</div>
					<div class="col content">
						<h3 class="title cd fs__14 mg__0 mb__5">BẢO MẬT TUYỆT ĐỐI</h3>
						<p class="mg__0">Chúng tôi tôn trọng quyền riêng tư của khách hàng</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--end shipping info-->