@using JollyAPI.Models.Entity;
@using JollyAdminClient.Helper;
@{
    List<Rating> ratings = ViewBag.ratings;
}
<div class="card-header border-0 pt-6">

    @*Filter *@
    <div class="card-title">
        <!--begin::Search-->
        <!--begin::Input group-->
        <div class="d-flex align-items-center position-relative my-1">
            <!--begin::Svg Icon | path: icons/duotone/General/Search.svg-->
            <span class="svg-icon svg-icon-1 position-absolute ms-6">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24" />
                        <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z"
                              fill="#000000" fill-rule="nonzero" opacity="0.3" />
                        <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z"
                              fill="#000000" fill-rule="nonzero" />
                    </g>
                </svg>
            </span>
            <!--end::Svg Icon-->
            <input type="text" id="filter-search"
                   class="form-control form-control-solid w-350px ps-14" placeholder="Tìm kiếm sản phẩm" />
        </div>
        <!--end::Input group-->
        <!--end::Search-->
    </div>


</div>
<div style="padding: 0 2.25rem;">
    <!--begin::Table-->
    <table id="my_data_table" class="table table-row-bordered gy-5">
        <thead>
            <tr>
                <th class="fw-bold"></th>
                @*<th class="fw-bold">Ảnh</th>
                <th class="fw-bold">Tên sản phầm</th>*@
                <th class="fw-bold">Người dùng</th>
                <th class="fw-bold">Nội dung</th>
                <th class="fw-bold">Ngày</th>
                <th class="fw-bold">Đánh giá</th>
                <th class="fw-bold"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in ViewBag.ratings)
            {
                <tr>
                    <td>@r.Id</td>
                    @*<td>
                        <img src="@r.Product.Images" alt="Product Image" width="50" height="50" />
                    </td>*@
                    @*<td>@r.Product.Name</td>*@
                    <td>@r.User.FullName</td>
                    <td>@r.Content</td>
                    <td>@r.Date</td>
                    <td>@Html.Raw(StarRating.GetStarRatingHtml(r.Quantity))</td>
                    <td>
                        @*<a asp-action="Details" asp-route-id="@p.Id" class="btn btn-sm btn-primary">Xem chi tiết</a>
                    <a asp-action="Details" asp-route-id="@p.Id" class="btn btn-sm btn-primary">Xem đánh giá</a>
                    <a href="#" class="btn btn-sm btn-danger">Xóa</a>*@
                        @*<div class="container">
                    <div class="row">
                    <div class="col-md-6">
                    <a asp-action="Details" asp-route-id="@p.Id" class="btn btn-sm btn-primary" style="width: max-content">Chi tiết</a>
                    <a asp-action="Details" asp-route-id="@p.Id" class="btn btn-sm btn-primary" style="width: max-content">Rating</a>
                    </div>

                    <div class="col-md-6">
                    <a asp-action="Edit" asp-route-id="@p.Id" class="btn btn-sm btn-primary">Sửa</a>
                    <a href="#" class="btn btn-sm btn-danger">Xóa</a>
                    </div>
                    </div>
                    </div>*@

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <!--end::Table-->
</div>
<style>



    .table td {
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }


    .table td a {
        display: block;
        white-space: normal;
        word-wrap: break-word;
    }


    .table td a.btn {
         margin-bottom: 5px;
    }

    .star {
        color: gold;
        font-size: 20px;
    }
</style>